<!DOCTYPE html>  {#indicate HTML code in doc and displayability in web browser#}
<html>

<head>  {#head opening Tag, contains meta information and links to external files#}
    <meta charset="utf-8" />    {#UTF-8 encoding, characters from diff. languages are displayed correctly hereby #}
    <meta name="viewport" content="width=device-width, initial-scale=1" /> {#viewport settings for the device on which the webpage is displayed, proper 
    scaling on diff screen sizes#}              {#cdn#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"  
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />{#das hier sind sozusagen libraries für bootstrap
    das setzt dann das alignment etc für das aussehen der bootstrapelemte, this linke links HTML doc to an external CSS file, links to the
    Bootstrap framework, which provides styles and layouts for the webpage #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous" />{#link to external CSS file, includes add icons from the Font Awesome library#}
    <title>{% block title %}Home{% endblock %}</title> {#title bar of the browser, Home may be overridden in diff
    parts of the code due to jinja templ language #}
    <style>
        .darkmode {
            background-color: #171717;
        }
        .darkmode :is(h1, p, li, span) {
            background-color: #171717;
            color: white;
        }
        .darkmode :is(textarea, textarea:focus) {
            background-color: #2e2e2e;
            color: white;
        }
        .darkmode .list-group-flush .list-group-item {
            border: 1px solid rgba(255, 255, 255, 0.13); 
            border-right-width: 0;
            border-left-width: 0;
            border-radius: 0;
        }
    </style>
</head> {#head closing Tag#}

<body {% if user.darkmode %}class="darkmode"{% endif %}>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">{#erstellt navbar oben auf Webpage mit dunklem Hintergrund#}
        <div class="d-flex justify-content-between">{#umschließt <a> elem und Button, flex container ordnet Elemente auf der linken Seite an#}
            <a class="navbar-brand" href="/">NiceNotes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">{#erstellt Button der Navbar zusammenklappt oder erweitert wenn angeklickt#}
                <span class="navbar-toggler-icon"></span>   {#icon um Nutzen des Knopfes anzudeuten#}
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar"> {#div element das Navigationslinks enthält und zusammenklappt oder erweitert basierend auf Zustand des Knopfes oben#}
            <div class="navbar-nav">                       {#div element repräsentiert eine Liste von Navigationslinks#}
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" id="home" style="color: #fafdfb" href="/">Home</a>
                <a class="nav-item nav-link" id="logout" style="color: #fafdfb" href="/logout">Logout</a>
                {% else %}
                <a class="nav-item nav-link" id="login" style="color: #fafdfb" href="/login">Login</a>
                <a class="nav-item nav-link" id="signUp" style="color: #fafdfb" href="/sign-up">Sign Up</a>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            <div class="nav-item nav-text" style="color: #fafdfb" onclick="triggerDarkmode()">&#9728;</div>
            <div class="nav-item nav-text ml-auto" style="color: #fafdfb">Hallo {{user.first_name}}</div>
            {% else %}
            <div class="nav-item nav-text ml-auto" style="color: #fafdfb">Hallo Guest</div>
            {% endif %}
        </div>
    </nav>

    {#quelle für below https://flask.palletsprojects.com/en/2.3.x/patterns/flashing/ #}
    {% with messages = get_flashed_messages(with_categories=true) %}{#messages kriegt jegliche flashed messages welche zum Anzeigen von temporären Benachrichtigungen oder alerts für den User genutzt werden
                                                                    messages ist variable die Liste hält mit flashmessages werten#}
                                                                    {#getflashedmessages ist methode die vorher geflashte messages zurückgibt 
                                                                     withmessages speichert die messages #}
    {% if messages %} {#überprüft, ob messages vorhanden, wenn true, führt folgenden code aus#}
    {%for category, message in messages %} {# loop iteriert über jede message in message Variable - für jede Iterarion werden die Katergorie und message Werte in die entsprechende Variable geschrieben
     #}
    {%if category =='error' %} {# wenn category error == true führt folgenden code aus #}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">{#div element repräsentiert alert (altert-danger), class attr fügt style (rot und danger message), role attr = Zweck, i.e. Alarm - erstellt eine Box die eine rote Warn-Nachricht ausgibt #}
        {{message}} {# message ist Platzhalter für Wert der dynamisch ausgefüllt wird #}
        <button type="button" class="close" data-dismiss="alert">{# button hat kein default behaviour , class="close" fügt Stil hinzu, data-dismiss="alert" Attribut lässt alert schließen wenn angeklickt
        #}
            <span aria-hidden="true">&times;</span> {# &times ist Multiplikation x => button sieht aus wie ein kleines x, aria hidden="true" entfernt das element und alle children vom acessibility tree, da es nur ein dekoratives Ikon ist. #}
        </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">{# altert altert-success https://getbootstrap.com/docs/4.0/components/alerts/ 
    öffnet ein div element mit spezifischen CSS Klassen, erstellt eine stylisierte Alarmbox die auf eine erfolgreiche Nachricht (grün) deutet (alert-sucess)
    #}
        {{message}} {#Platzhalter für dynamischen Inhalt#}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span> 
        </button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif%}
    {% endwith%}{# end statements for enfif, endfor, endif and endwith #}


    <div class="container"> 
    
    {%block content%}
    {% endblock %}
    
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>{#fügt JavaSCript Bibliothek Jquery aus foreign source hinzu, um mit HTML-Elementen zu interagieren und JS-Code zu vereinfachen#}
        {#Jquery#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>  {#        
        lädt poppers.js um BootStrap hinzuzufügen, damit html elemente ordentlich positioniert werden. popper.min.js, src ist der Pfad, SHA-384-Hash, um sicherzustellen, 
        dass die Datei während des Herunterladens nicht verändert wurde, crossorigin="anonymous" bedeutet, dass das Skript in einem anonymen Kontext ausgeführt wird, was wiederum 
        eine weitere Sicherheitsebene für die website und den B enutzer bietet. Der anonyme Kontext wird normalerweise verwendet, wenn ein Skript keine spezielle Autorisierung benötigt und
        nur auf bestimmte Funkt ionen oder Bibliotheken zugreifen muss. crossorigin anonymous besagt, dass das Skript keine herkunftsübergreifenden Beschränkungen hat und
        von einer beliebigen Quelle (Domain-Protokoll oder Port) ausgeführt werden kann, ohne dass eine spezielle Autorisierung erforderlich ist.
        #}


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script> {# Quell-URL der Javascript-Datei, sie verweist auf die Version der Bootstrap-Bibliothek, die im maxcdn Delivery Network gehostet wird
        integrity sha ... ist das Integritätsattribut, das den Hashwert enthält, der sicherstellt, dass die Datei während der Übertragung nicht verfälscht wurde und eine
        eine Sicherheitsmaßnahme, um die Integrität und Authentizität der Datei zu überprüfen
        corrorigin - wiederum sorgt dafür, dass das Skript keine spezifischen Anmeldeinformationen oder sensiblen Daten vom Server benötigt. insgesamt
        Diese Bootstrap-Javascript-Datei ermöglicht es uns, die interaktiven Komponenten und Funktionen von Bootstrap-Dropdown-Menüs, Modellen und mehr zu nutzen ..#}


    {# code block ist in jinja templating Sprache geschrieben und wird verwendet um javascript Funktionen innerhalb einer html template zu definieren#}

    {% block javascript %}                              {#block of code specifically for JavaScript as a placeholder, which can be overridden in child templates#}
    <script type="text/javascript">                     //spezifiziert javascript block innerhalb der html datei 
        function deleteNote(noteId) {                   // definiert JScript Funktion "deleteNote" mit param "noteID" (um Notizen zu löschen)
            if (!confirm("Sicher löschen?")) return;    //Fast return - in JScript ist eine Technik, die verwendet wird, um eine Funktion frühzeitig zu verlassen und die Ausführung innerhalb
                                                        //dieser Funktion zu verhindern, wenn die Bedingung erfüllt ist. Wenn sicher löschen nicht bestätigt wird, wird weiterer Code nicht ausgeführt!
            
            /*
             
            untenstehender code initiiert eine NEtzwerkanfrage zum SErver beim dem "/delete-Note" endpoint mit der fetch API (ist effizienter und praktisscher) 
            Fetch API erlaubt HTTP Anfragen an Server und das Abrufen von Daten in Form von responses, sie bietet eingebaute Methoden und Optionen für die Handhabung
            verschiedenen Anfragetypen wie GET POST PUT und Delete, man kann sie verwenden um Daten von APIs abzurufen Daten an einen Server zu senden oder andere Aktionen
            durchzuführen, die eine Kommunikation mit einem Webserver beinhalten. 
            Fetch API gibt ein Promise zurück, ein spezielles JScript-Objekt, das den eventuellen Abschluss oder
            das Scheitern einer asynchronen Operation darstellt. So können methoden benutzt werden wie .then() und .catch() um die Antwort zu verarbeiten und dann die vom Server
            zurückgegebenen Daten zu verarbeiten.
            Fetch-API ist ein Werkzeug für die Arbeit mit serverseitigen Ressourcen und den Austausch von Daten zwischen CLient und SErver in Webanwendungen. Es 
            vereinfacht den Prozess der http-Anfragen und bietet eine modernere und intuitivere Möglichkeit mit Netzwerken und ANfragen in Javascript zu arbeiten.
            Quelle: chatbot, wikipedia und andere
            */
            fetch("/delete-note", {
                method: "POST",
                body: JSON.stringify({ noteId: noteId }),
            }).then((_res) => {
                window.location.href = "/";
            });
            /* 
             fetch delete note initiiert eine Netzwerkanfrage an den Server bei der "/delete-Note" endpoint mit der Fetch API. 
             HTTP POST Anfrage um eine spezifische Notiz zu löschen
             body JSON.stringify({noteID:noteID}) setzt den Request-Körper indem ein JScript Objekt, das die noteID parameter hält, in ein JSON String konvertiert wird.
             In dem code wird mit Methode JSON.stringify ({ noteId: noteId }) ein JScript Objekt in ein JSON String konvertiert.
             JSON string kann dann an den Server geschickt werden, als Teil einer HTTP request payload .
             }).then((_res) => { startet eine promise chain, sobald der Server auf die Anfrage anwortet, wird der folgende code ausgeführt;
             window.location.href = "/"; leitet den User dann zu der root URL "/" nachdem die Notiz-Löschung erfolgreich war 
             Quelle: ChatGPT, wikipedia und andere
             */

        }        
        function checkNote(noteId){
            fetch('/check-note', {
                method: "POST",
                body: JSON.stringify({noteId: noteId}),
            /*             
             checkNote definiert JScript Funktionen namens "checkNote" mit param "noteID" - wird genuitzt um notiz zu überprüfen
             fetch('/check-note', { initiiert eine Netzwerkanfrage an den Server an "/check-note" endpoint mit fetch API, es wird eine http POST Anfrage ausgeführt
             um den status von einer spezifischen Notiz zu überprüfen.
             method:"Post", spezifiziert, dass die Afragemethode POST ist, und sagt, dass der SErver eine Prüfoperation durchführen soll,
             body: JSON.stringify({noteId: noteId}), setzt den request body indem das JScript object mit der noteID in ein JSON string konvertiert wird.
            */
            
            }).then((_res) => {
                window.location.href ="/";
            });
        }
            /*                      
            }).then((_res) => {     startet promise chain, sobald der server auf die ANfrage antwortet, wird folgender code ausgeführt
            window.location.href ="/"; leitet den user zu "/" root url weiter, nachdem die Notizprüfung durchgeführt wurde

            */
        function triggerDarkmode() {
            fetch('/trigger-darkmode', {
                method: 'POST',
            }).then((_res) => {
                window.location.reload();
            });
        }
    </script>  {#ends the javascript code block#}

    {% endblock %}  {#ends the block defined as JavaScript block in the template#}

    {# script below is used to include JavaScript code into an HTML documnet
    type="text/javascript"  attribute specifies that content inside the script tag is javascript code
    src=    "{{ url_for('static', filename='index.js') }}"      attribute specifies the source (URL) of the javascript file to be included, 
    uses a template expression {{ }}to generate the URL using a server side framework or template engine
    url_for function (provided by web framework such as Flask..
    this basically generates the URL for the "index.js" file located in the static directory)
    
    #}
    <script     
        type="text/javascript"
        src=    "{{ url_for('static', filename='index.js') }}"

</body> // closing tag of body element, marks end of visible content on the html documnet

</html> // ends the end of the html element 