{% extends "base.html" %} {# extending base.html file meaning home.html includes and can utilize and override base.html#}
{% block title %}Home{% endblock %} {#title block that can be customized #}

{% block content %} {#start of content block#}

<h1 align="center">Notes</h1> {#html element heading1 with "Notes" as text, align=center attribute centers the heading horizontally on the page#}
<div class="progress-indicator" style="margin: 0 0 5px 0;">
    <span>{{debug}}</span>
    <div class="progress">  
    {# line 8 to 19
    https://getbootstrap.com/docs/4.0/components/progress/, progressbvar bootstrap element
    first div is progressbar
    class is progress-bar, role=progressbar,  style="width :{{ progress }} %" variable progress is accessed and evaluated and then used as "progress" display
    ed when the placeholder {{ progress}} is replaced with an actual value when template is rendered
    second div - <div style="position:absolute;right: 50%">{{ progress }}%</div>    is positioned absolutely using the
    position:absolute cc property and right: 50% to align it to the r ight side of its parent container
    #}
        <div class="progress-bar" role="progressbar" style="width: {{ progress }}%"></div>
        <div style="position:absolute;right: 50%">{{ progress }}%</div>
    </div>
</div>
<span>Noch offen:</span>
<ul class="list-group list-group-flush" style="margin: 0 0 5px 0;" id="notes"> {#unordered list to display collection of items, id="notes" assigns the "notes" identifier to the ul element#}
    {% for note in user.notes if not note.done %}            {#loop iterating over each "note" object in the "user.notes" list - the loop will execute the following lines of code for each note#}
    <li class ="list-group-item">           {#HTML <li> element with class "list-group-item" representing a single item in the list#}
        {{ note.data }}
        <button type ="button" class ="close" onClick="deleteNote({{ note.id }})"> 
                                            {#HTML button element with class "close" representing a button for deleting the note. "onClick" attribute specifies the JScript function
                                            "deleteNote()" {{note.id}} - placeholder and will be replaced with the actual ID of the note#}
            <span aria-hidden="true">Löschen &times;</span>     {# HTML span element that contains "löschen" and &times symbol which is multipl. sign (x) 
                                                                to represent the delete action.#}
        </button>

        <button type="button" class="close" onClick="checkNote({{ note.id }})"> {#another HTML button element wit hclass "close" it represents a button
        for marking the note as completed or uncompleted. the "onClick" attribute specifies the JavaScript function "checkNote()" to be called when the button is clicked
        the {{note.id}} placeholder will be replaced with the actual ID of the note#}
            <span style="margin: 10px" aria-hidden="true">Als {{ 'nicht ' if note.done else ''}}erledigt markieren &#10003;</span> 
            {# Shorthand if + Unicode checkmark => span HTML element that contains "Als" and the phrase "erledigt markieren" 
            the {{"nicht " if note.done else" part is shorthand conditional statement adding "nicht" before "erledigt markieren" if "note.done"
            is false. the &#10003; symbol representing the checkmark symbol.}}
            #}
        </button> {#close button#}
    </li> {#close li element, endfor loop and close unordered list below#}
    {% endfor %}
</ul>
<span>Erledigt:</span>
<ul class="list-group list-group-flush" style="margin: 0 0 5px 0;" id="notes"> {#unordered list to display collection of items, id="notes" assigns the "notes" identifier to the ul element#}
    {% for note in user.notes if note.done %}            {#loop iterating over each "note" object in the "user.notes" list - the loop will execute the following lines of code for each note#}
    <li class ="list-group-item">           {#HTML <li> element with class "list-group-item" representing a single item in the list#}
        <s>{{ note.data }}</s> 
        <button type ="button" class ="close" onClick="deleteNote({{ note.id }})"> 
                                            {#HTML button element with class "close" representing a button for deleting the note. "onClick" attribute specifies the JScript function
                                            "deleteNote()" {{note.id}} - placeholder and will be replaced with the actual ID of the note#}
            <span aria-hidden="true">Löschen &times;</span>     {# HTML span element that contains "löschen" and &times symbol which is multipl. sign (x) 
                                                                to represent the delete action.#}
        </button>

        <button type="button" class="close" onClick="checkNote({{ note.id }})"> {#another HTML button element wit hclass "close" it represents a button
        for marking the note as completed or uncompleted. the "onClick" attribute specifies the JavaScript function "checkNote()" to be called when the button is clicked
        the {{note.id}} placeholder will be replaced with the actual ID of the note#}
            <span style="margin: 10px" aria-hidden="true">Als {{ 'nicht ' if note.done else ''}}erledigt markieren &#10003;</span> 
            {# Shorthand if + Unicode checkmark => span HTML element that contains "Als" and the phrase "erledigt markieren" 
            the {{"nicht " if note.done else" part is shorthand conditional statement adding "nicht" before "erledigt markieren" if "note.done"
            is false. the &#10003; symbol representing the checkmark symbol.}}
            #}
        </button> {#close button#}
    </li> {#close li element, endfor loop and close unordered list below#}
    {% endfor %}
</ul>



<form method="POST">    {# html form element that allows users to input data, method="Post" specifies that the form data will be sent to the
server using the http post method #}
    <textarea name="note" id="note" class="form-control" ></textarea> {# multi-line text input field
    "name = "note" attribute assigns identifier note to the textarea, the "id="note" attribute specifies the id of the textarea
    for referencing in JavaScript or CSS, class="form-control" attribute assigns form-control to the textarea, which 
    applies some styling to it https://getbootstrap.com/docs/5.0/forms/form-control/ #}
    <br /> {#html line break element for visual pleasure of sorts#}
    <div align="center"> {#div element, aligned in the center#}
        <button type="submit" class="btn btn-primary">Add Note</button>{#The <button type="submit"> specifies a submit button. 
        Clicking a submit button sends form data to a form-handler on the server, btn btn-primary is for styling, Add Note is the text added.
        
        end div below, close/end form below, endblock below#}
    </div>
</form>
{% endblock %}